<div ng-controller="navbarCtrl">
  <nav class="navbar navbar-default navbar-fixed-bottom navbar-bottom-nav">
    <div class="container navbar-button-panel">
        <div class="col-xs-5ths navbar-button-container navbar-button-panel-divider" ng-click="changePage(0);">
          <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        </div>
        <div class="col-xs-5ths navbar-button-container navbar-button-panel-divider" ng-click="changePage(1);">
          <i class="fa fa-shopping-bag fa-2x" aria-hidden="true"></i>
        </div>
        <div class="col-xs-5ths navbar-button-container navbar-button-panel-divider" ng-click="changePage(2);">
          <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
        </div>
        <div class="col-xs-5ths navbar-button-container navbar-button-panel-divider" ng-click="changePage(3);">
          <i class="fa fa-line-chart fa-2x" aria-hidden="true"></i>
        </div>
        <div class="col-xs-5ths navbar-button-container" ng-click="changePage(4);">
          <i class="fa fa-binoculars fa-2x" aria-hidden="true"></i>
        </div>
    </div>
  </nav>
</div>